* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

/* {
    border: 1px solid red !important;
  } */

::selection { background: #333332; color: #F5F5F5; }

body, html {
	width: 100%;
	height: 100%;
}

sub { 
    vertical-align: sub;
    font-size: 8px; 
  }

body {
  background: #F1F3F2;
  margin: 0;
  border-top: 4px solid #C5D3D9;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

a:link {text-decoration: none;color: #333332;}
a:visited {text-decoration: none; color: #333332;}
a.author:link {text-decoration: none;color: #4F7177;}
a.author:visited {text-decoration: none;color: #4F7177;}
a.h2:link {text-decoration: underline;color: #4F7177;}
a.h2:visited {text-decoration: underline;color: #4F7177;}
a.p:link {text-decoration: underline;color: #333332;}
a.p:visited {text-decoration: underline;color: #333332;}

span {
  background:#FFEB00;
  color: #333332;
  padding: 5px 0 0 0;
}

span2 {
  background:#333332;
  color: #F5F5F5;
  padding: 5px 0 0 5px;
}

nav {
  display: flex;
  text-decoration: none;
  color: #333332;
  font-family: "Karla",sans-serif;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 900;
  width: 950px;
  margin-left: 150px;
  margin-right: 150px;
}

nav ul1 {
  list-style: none;
  padding: 10px 50px 20px 20px;
}

h1 {
  font-family: "Karla",sans-serif;
  color: #4F7177;
  font-size: 12px;
  padding: 10px;
  margin: 0px 0 10px 50px;
  width: 200px
}

nav ul2 {
  margin: 0 0 0 250px;
}

nav ul3 {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

nav ul3 li {
  display: inline-block;
  list-style-type: none;
}

nav li a {
  padding: 10px;
}


.prav {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2.5px;
  font-size: 15px;
  font-weight: 400;
  width: 600px;
}

.prev {
  padding: 10px 10px 10px 0px;
  width: 600px;
}

.previous {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2.5px;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  margin: 150px 150px 320px 150px;
}


p {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
  color: #333332;
}


.foot {
  display: flex;
  color: #333332;
  padding: 0px 20px 0px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 360px;
}

.down {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 20px 5px 20px 5px;
  width: 120px;
}




/* crazy nav */
nav li a,
nav li a:after,
nav li a:before {
  transition: all .5s;
}

nav li a:hover {
  color: #333332;
}

/* stroke */

nav.stroke li a,
nav.fill li a {
  position: relative;
}

nav.stroke li a:after,
nav.fill li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke li a:hover:after {
  width: 100%;
}

nav.fill li a {
  transition: all 2s;
}

nav.fill li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
